RewriteEngine On

   # Le tue regole esistenti
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteCond %{REQUEST_FILENAME}\.php -f
   RewriteRule ^(.*)$ $1.php [L]
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteCond %{REQUEST_FILENAME}\.html -f
   RewriteRule ^(.*)$ $1.html [L]

   #RewriteCond %{REQUEST_URI} ^/articolo/([0-9]+)$ [NC]
   #RewriteRule ^articolo/([0-9]+)$ articolo.php?page=%1 [L,QSA]
# # av:php5-engine
AddHandler av-php82 .php